@media (min-width: 0) {
  header {
    .top-header {
      padding: 5px 0px 8px 0px;

      &.secondary-bg-color {
        background-color: #f2f2f2;
      }

      .top-menu {
        li {
          a {
            border-right: 1px solid #121212;
            padding: 0px 10px;
            color: #121212;
            font-size: 12px;
            font-family: 'HN-M';
          }

          &:last-child a {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
          }
        }
      }
    }

    .middle-header {
      .navbar {
        padding-top: 8px;
        padding-bottom: 8px;

        &.navbar-light {
          .navbar-nav {
            .nav-link {
              color: #121212;
              font-size: 12px;
            }

            &:hover {
              color: #919191;
            }
          }
        }

        .search-and-icon {
          .search-form-header {
            position: relative;

            .icon {
              height: 20px;
              width: 20px;
              position: absolute;
              top: 10px;
              left: 10px;
              content: '';
              background-repeat: no-repeat;
            }

            input {
              background-color: #f2f2f2;
              border: none;
              border-radius: 20px;
              color: #000000;
              display: inline-block;
              padding: 8px 10px 8px 35px;
              vertical-align: middle;

              &::-webkit-input-placeholder {
                color: #cccccc;
                opacity: 1;
              }
              &:-moz-placeholder {
                color: #cccccc;
                opacity: 1;
              }
              &::-moz-placeholder {
                color: #cccccc;
                opacity: 1;
              }
              &:-ms-input-placeholder {
                color: #cccccc;
                opacity: 1;
              }
              &::placeholder {
                color: #cccccc;
                opacity: 1;
              }
            }
          }
        }

        .tab-view {
          .navbar-toggler {
            padding-top: 0;
          }

          .header-icon {
            li {
              display: table;
              margin-left: 0;
              margin-right: 19px;
            }
          }
        }

        .header-icon {
          li {
            margin-left: 15px;
            height: 100%;
            display: table;

            a {
              display: table-cell;
              vertical-align: middle;
              height: 100%;

              img {
                width: 23px;
                height: 23px;
                vertical-align: unset;
              }
            }
          }
        }
      }
    }

    .overlay1 {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      background-color: #a9a9a9;
      overflow-y: auto;
      overflow-x: hidden;
      text-align: center;
      opacity: 0;
      transition: opacity 1s;

      &.active-opacity {
        width: 100%;
        opacity: 0.8;
      }
    }

    .mob-menu {
      background-color: #fff;
      top: 0;
      max-width: 100%;
      width: 320px;
      height: 100%;
      padding: 36px;
      right: 0;
      overflow-y: scroll;
      transform: translateX(100%);
      transition: transform 0.3s;
      z-index: 99;

      &.open {
        transform: translateX(0);
      }

      .mob-menu-link li {
        padding: 0;
        margin-bottom: 18px;

        a {
          padding: 0;
          position: relative;
          color: #000;
          font-size: 24px;
          font-family: 'HN-M';
          line-height: 20px;

          &::after {
            content: '\f105';
            font-family: 'fontawesome';
            position: absolute;
            right: 0;
            top: -2px;
            font-size: 24px;
          }
        }
      }

      .mob-second-menu {
        margin-top: 7px;

        li {
          font-size: 16px;
          color: #111111;
          font-family: 'HN-M';
          margin-bottom: 10px;
        }
      }

      .leran-more {
        margin: 120px 0px 0px;
        color: #757575;
        font-family: 'HN-M';
        font-size: 20px;
      }

      .sidebar-buttons {
        margin-top: 27px;
      }
    }

    .bottom-header {
      &.secondary-bg-color {
        background-color: #f2f2f2;
      }

      .notification {
        font-size: 15px;
        color: #1f1f1f;
      }
    }
  }
}
@media (min-width: 576px) {
  header {
    .bottom-header {
      .notification {
        span {
          &::before {
            content: '\f104';
            font-family: 'fontawesome';
            position: absolute;
            left: -50px;
          }

          &::after {
            content: '\f105';
            font-family: 'fontawesome';
            position: absolute;
            right: -50px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  header {
    .middle-header {
      .navbar {
        .header-icon {
          li {
            a {
              img {
                vertical-align: middle;
              }
            }
          }
        }
      }
    }

    .bottom-header {
      .notification {
        span {
          &::before {
            background: url('../images/Icon ionic-ios-arrow-back-2.svg');
            background-size: 9px 15px;
            height: 15px;
            width: 9px;
            position: absolute;
            top: 2px;
            left: -10%;
            content: '';
            background-repeat: no-repeat;
            transform: rotate(90deg);
          }

          &::after {
            background: url('../images/Icon ionic-ios-arrow-back-2.svg');
            background-size: 9px 15px;
            height: 15px;
            width: 9px;
            position: absolute;
            top: 2px;
            right: -10%;
            content: '';
            background-repeat: no-repeat;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  header {
    .middle-header {
      .navbar {
        &.navbar-light {
          .navbar-nav {
            .nav-link {
              font-size: 14px;
            }
          }
        }

        .header-icon {
          li {
            margin-left: 20px;

            a {
              img {
                width: 27px;
                height: 27px;
              }
            }
          }
        }

        .tab-view {
          ul {
            li {
              margin-right: 0px;
            }
          }
        }
      }
    }

    .bottom-header {
      .notification {
        span {
          &::before {
            left: -40%;
          }

          &::after {
            right: -40%;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  header {
    .middle-header {
      .navbar {
        &.navbar-light {
          .navbar-nav {
            .nav-link {
              font-size: 16px;
            }
          }
        }

        .header-icon {
          li {
            margin-left: 26px;
          }
        }

        .tab-view {
          ul {
            li {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
}
@media (min-width: 1920px) {
  header {
    .middle-header {
      .navbar {
        .tab-view {
          ul {
            li {
              margin: 0px 10px;
            }
          }
        }
      }
    }
  }
}
